@model Cinema

@{
    ViewData["Title"] = "Edit cinema";
}

<div class="row">
    <div class="col-md-8 offset-2">

        <h1 class="mb-4">Edit cinema details</h1>

        <form asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-center">

                <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />

            </div>

            <div class="form-group">
                <label asp-for="Logo"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                <a asp-action="Index" class="btn btn-outline-secondary">Show All</a>
            </div>

        </form>

    </div>
</div>

@section Scripts {
 
    <script>
        $("#profilePicURL").on("change", function () {
                var output = document.getElementById("ProfilePicturePreview");
                output.src = $(this).val();
            });
    </script>
}





