<div class="row text-center">

    <div class="col-md-6 offset-3">
        <h1 class="text-info">Actor Not Found</h1>
        <hr />

        <a class="btn btn-outline-light text-black-50" asp-controller="Movies" asp-action="Index">Return to HomePage</a>

    </div>
   
</div>